{% extends 'base.html' %}

{% block content %}
<h4>What</h4>
<p>Hacknowledge.io is a collection of infromation security resources paired with a lab environment to practice them.</p>

<h4>Who</h4>
<p>This website and the security lab are maintained by <a href="http://www.austinkeeley.com">Austin Keeley</a>.</p>

<h4>How</h4>
<p>To access the lab environment, you need to register an account.  Currently, account registration is only available to those
who are locally available, although plans for more access are in the works.</p>

<h4>Where</h4>
<p>Hacknowledge.io is based out of Fairfax, VA, a suburb of Washington D.C.</p>

{% endblock %}
