{% extends 'base.html' %}

{% block content %}
<h4>Getting Access</h4>
<ul>
    <li>Requesting an account</li>
    <li>Rules of engagement</li>
    <li>Downloading the VPN client</li>
</ul>

<h4>Security Lab Setup</h4>
<ul>
    <li><a href="markdown/virtual-router">Virtual router setup</a></li>
    <li><a href="markdown/host-list">Available hosts</a></li>
    <li><a href="markdown/snort-setup">Snort IDS setup</a></li>
</ul>

<h4>Introduction</h4>
<ul>
    <li>Information security basics</li>
    <li>Phases of an attack</li>
</ul>

<h4>Network Reconnaisance</h4>
<ul>
    <li>Scanning a network</li>
    <li>Nessus</li>
</ul>

<h4>Exploitation - Direct</h4>

<h4>Exploitation - Indirect</h4>
<ul>
    <li>Sniffing and Poisoning</li>
</ul>

<h4>Additional Materials</h4>
<ul>
    <li><a href="markdown/websites">Websites</a></li>
    <li><a href="markdown/books">Books</a></li>
</ul>
{% endblock %}



